.loadingLeftSide {
  flex: 4 1 70px;
  height: 100vh;
  opacity: 0.9;
  background-image: radial-gradient(circle at 50% 0, #333086, #4a63d9 33%, #83a2fd 62%, #c2667b 94%);
  display: grid;
  place-items: center;
}

#firstBoldLine {
  margin-top: 0;
}

.boldLine {
  margin-top: 9px;
  font-size: 24px;
  font-weight: 900;
}

.notBoldLine {
  margin-top: 12px;
  font-size: 16px;
}