.GroupWrapper {
  position: absolute;
  z-index: 1;
  left: 78.8%;
  width: 287px;
  height: 241px;
  border-radius: 5px;
  box-shadow: 0 0 18px 0 rgba(87, 45, 127, 0.47);
  background-color: white;
  display: flex;
  flex-direction: column;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}