.allLoginPage {
  width: 100%;
  display: flex;
}

.leftSide {
  flex: 4 1 50px;
  height: 100vh;
  opacity: 0.9;
  background-image: radial-gradient(
    circle at 50% 0,
    #333086,
    #4a63d9 33%,
    #83a2fd 62%,
    #c2667b 94%
  );
  display: grid;
  place-items: center;
}

.leftMiddle {
  width: 315px;
  height: 350px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 96px;
  height: 96px;
  background-image: url(../asset/img/project_logo.png);
}

.comment {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
  width: 100%;
}

.mainName {
  font-size: 64px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
}

.mainText > div {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  margin: 5px 0 0 0;
}

.lastWord {
  display: flex;
  justify-content: center;
}

.lastWord > span {
  margin: 0 5px;
  color: #3f1d1d;
  font-size: 16px;
}

.lastWord > a {
  margin: 0 0 0 2px;
  text-decoration: none;
  font-weight: 900;
  color: #572d7f;
}

.rightSide {
  flex: 6 1 auto;
  height: 100vh;
  display: grid;
  place-items: center;
}

.rightMainWrapper {
  width: 385px;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headText {
  color: #0d0c22;
  font-size: 24px;
  font-weight: 900;
}

.emailInput,
.passwordInput {
  width: 365px;
  height: 48px;
  border-radius: 5px;
  border: solid 1px #c9c9c9;
  padding: 0 0 0 15px;
  font-size: 18px;
}

.passwordInput {
  margin: 15px 0 0 0;
}

.connectBtn {
  width: 384px;
  height: 48px;
  border: 0;
  border-radius: 5px;
  background-image: radial-gradient(
    circle at 10% 50%,
    #333086,
    #4a63d9 22%,
    #83a2fd 64%,
    #c2667b 114%
  );
  font-size: 16px;
  font-weight: 900;
  color: #ffffff;
  transition: 0.3s;
  opacity: 1;
}

.connectBtn:hover {
  opacity: 0.8;
}

.connectText {
  margin: 15px 0 0 0;
  text-align: right;
}

.connectText > span {
  font-size: 14px;
  font-weight: 900;
  color: #572d7f;
}

.connectText > a {
  text-decoration: none;
  color: #572d7f;
  font-size: 14px;
  font-weight: 900;
}

.middleLine {
  display: flex;
  justify-content: center;
  align-items: center;
}

.or {
  color: #817d7d;
  margin: 0 20px;
}
.line {
  width: 160px;
  height: 1px;
  background-color: #ecebeb;
}

.googleBtn {
  width: 384px;
  height: 48px;
  justify-content: center;
  transition: 0.3s;
  margin-bottom: 15px;
}

.googleBtn:hover {
  opacity: 0.8;
}

.kakaoBtn {
  background-color: #fee500;
  color: #ffffff00;
  border: none;
  border-radius: 2px;
  width: 384px;
  height: 48px;
  background-image: url('../asset/img/MyTodo/kakologo.svg');
  transition: 0.3s;
  box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;
}

.kakaoBtn:hover {
  opacity: 0.8;
}
