.date {
    position: absolute;
    display: inline-flex;
    top: 277px;
}

.card_box {
    /*overflow-wrap: anywhere;*/
    width: 275px;
    height: 200px;
    word-break:break-all;
    position: absolute;
    white-space: pre-line;
    overflow: scroll;
    /*display: inline-flex;*/
    margin-right: 32px;
}

.textBox {
    line-height: 28px;
    width: 275px;
    height: 200px;
    resize: none;
    border: none;
    overflow:hidden;
    font-size: 20px;
    color: white;
    background-color: transparent;
}

.textBox:focus{
    border: none;
    outline: none;
}

textarea::placeholder {
    color: white;
    font-weight: normal;
}